li{
  text-decoration: none;
  list-style: none;
}

li a{
  display: block;
  color: white;
  text-align: center;
  text-decoration: underline;
}
li a:hover{background-color: grey;}

/* Light Mode */
body.light .navbar-nav .nav-item .nav-link .main-content{
  font-family: 'Arial', 'Times New Roman', Times, serif; 
  font-size: 1.2rem; 
  font-weight: bold; 
  background-color: white;
  color: black;
}

body.light .navbar a {
  color: black;
}

/* Dark Mode */
body.dark .navbar-nav .nav-item .nav-link .main-content{
  font-family: 'Arial', 'Times New Roman', Times, serif; 
  font-size: 1.2rem; 
  font-weight: bold; 
  background-color: #121212;
  color: white;
}

body.dark .navbar a{
  color: white;
}

/* Navbar styling */
.bg-light {
  background-color: #f8f9fa;
  color: black;
}
.bg-dark {
  background-color: #343a40;
  color: white;
}
